.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

form {
  margin: 1rem;
}

table {
  margin-top: 1rem;
}



.padding-right-8 {
  padding-right: 8px;
}

